:root {
  --md-primary-fg-color: #C9D6F0 !important;
  --md-primary-fg-color--light: #DCE5F5 !important;
  --md-primary-fg-color--dark: #8DA3D6 !important;
  --md-accent-fg-color: #2E5090 !important;
  --md-typeset-a-color: #2E5090 !important;
}

/* Change navigation text color to blue */
.md-header__title,
.md-tabs__link,
.md-tabs__item .md-tabs__link--active {
  color: #2a4178 !important;
}

.md-header__title .md-header__ellipsis {
  color: #2a4178 !important;
}


/* GitHub repo link and stats */
.md-source {
  color: #2a4178 !important;
}

.md-source * {
  color: #2a4178 !important;
}

