.md-header {
  background-color: #AEC6E8 !important;
}

.md-tabs {
  background-color: #AEC6E8 !important;
}

/* Change navigation text color to blue */
.md-header__title,
.md-tabs__link,
.md-tabs__item .md-tabs__link--active {
  color: #2a4178 !important;
}

.md-header__title .md-header__ellipsis {
  color: #2a4178 !important;
}


/* GitHub repo link and stats */
.md-source {
  color: #2a4178 !important;
}

.md-source * {
  color: #2a4178 !important;
}

