:root {
  --md-primary-fg-color: #8DA3D6;
  --md-primary-fg-color--light: #A8BAE0;
  --md-primary-fg-color--dark: #2E5090;
  --md-accent-fg-color: #2E5090;

  --md-typeset-a-color: #2E5090;
}

/* Change navigation text color to blue */
.md-header__title,
.md-tabs__link,
.md-tabs__item .md-tabs__link--active {
  color: #2a4178 !important;
}

.md-header__title .md-header__ellipsis {
  color: #2a4178 !important;
}


/* GitHub repo link and stats */
.md-source {
  color: #2a4178 !important;
}

.md-source * {
  color: #2a4178 !important;
}

